body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}
.header{
  position: absolute;
  position: fixed;
  height: 30px;
  top: 0;
  left:0;
  right:0;
  background-color: black;
  color: white;
  padding: 10px 20px 10px 10px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-family: 'Archivo';
  font-variation-settings: "WDTH" 90;
  z-index: 90;
}

.header-left-section{
  font-family: 'Archivo';
  font-size: 9px;
  font-variation-settings: "WDTH" 90;
  letter-spacing: 2px;
}
.header-right-section{
  background-color: white;
  width: 40px;
  padding-right: 10px;
  margin-right: 40px;
}
@media screen and (min-width: 1000px){
.note{
  display: none;
}
.content-container{
  display: block;
  margin-top: 50px;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-left: 11%;
  padding-top: 50px;
}

.text-description{
  font-size: 14px;
  line-height: 18px;
  font-family: 'Archivo';
  font-variation-settings: "WDTH" 90;
}
.black-block{
  background-color: black;
}

.archive-text, .black-archive-text{
  mix-blend-mode: difference;
  color: white;
  font-size: 14px;
  font-family: 'Archivo';
  font-variation-settings: "WDTH" 90;
}


.start-button{
  padding: 3px 1px;
  background-color: black;
}
.start-button:hover{
  background-color: white;
  color: black;
}

  .black-block:hover {
    color: rgb(0, 0, 0);              
    background-color: #ffffff;  
    border: 1px solid black;
    text-decoration: none;
}
  
.archive-container {
  position: absolute;
  z-index: var(--z-index);
  transition: top 0.8s ease, left 0.8s ease;
}




.archive-container1 { --z-index: 2; top: 20%; left: 11%; }
.archive-container2 { --z-index: 3; top: 26%; left: 14%; }
.archive-container3 { --z-index: 4; top: 32%; left: 17%; }
.archive-container4 { --z-index: 5; top: 38%; left: 20%; }
.archive-container5 { --z-index: 6; top: 44%; left: 23%; }
.archive-container6 { --z-index: 7; top: 50%; left: 26%; }
.archive-container7 { --z-index: 8; top: 56%; left: 29%; }
.archive-container8 { --z-index: 9; top: 62%; left: 32%; }

.empty-tag,.black-theme-tag,.tag {
  position: relative;
  font-family: Archivo;
  font-size: 14px;
  border-style: solid;
  height: 40px;
  width: 220px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  padding: 15px;
  line-height: 16px;
  border-width: 1px;
}
.empty-tag, .tag{
  border-color: black;
  background-color: white;
  border-bottom-color: rgb(255, 255, 255);
  }
.black-theme-tag{
  border-color: white;
  background-color: black;
  border-bottom-color: rgb(0, 0, 0);

  }

.archive-item, .black-archive-item{
  padding: 50px;
  border-style: solid;
  
  border-width: 1px;
  height: 100vh;
  width: 100vw;
  margin-top: -2px;
  
  z-index: 0;
}

.archive-item{
  border-color: black;
  background-color:white;
}
.black-archive-item{
  border-color: white;
  background-color:black;
}
.nameInput{
  width: 200px;
  outline: none;
  display: inline-block;
  font-family: 'Archivo';
  font-variation-settings: "WDTH" 90;
  padding: 1px 4px;
  font-size: 14px;
  color: white;
  background-color: initial;
  border: 1px inset;
  margin-top: 10px;
  box-sizing: border-box;
  cursor: text;
  caret-color: white;
}
input::placeholder {
  color: white; 
}
.nameInput:active{
  outline: black;
}
.reposition{
  transition: transform 0.3s ease;
}
.reposition:hover{
  transform: translateY(-50px);
}

.selected{
  top: 150px;
  left: 13%;
  z-index: 999;
  transition: top 0.6s ease;
  transition: left 0.6s ease;
}}

@media screen and (max-width: 1000px) {
  .content-container{
    display: none;
  }

  .note{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Archivo';
    font-variation-settings: "WDTH" 90;
    z-index: 90;
  }
}